@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Brazil SC<br />
    Blumenau<br />
    <abbr title="Phone">Cell: </abbr>
    +55 47 99193 8713
</address>

<address>
    <strong>Email:</strong> <a href="mailto:paulolisboa38@gmail.com">paulolisboa38@gmail.com</a><br />
</address>
